<h1>WELCOME! PLEASE CREATE AN ACCOUNT!</h1>
<div class="new-user">
  <%= form_with model: @user, local: true do |f| %>
    <%= f.label "EMAIL" %>
    <%= f.text_field :email %>
    <%= f.label "LOGIN" %>
    <%= f.text_field :login %>
    <%= f.label "PASSWORD" %>
    <%= f.text_field :password %>
    <%= f.submit %>
  <% end %>
</div>
<div class="login">
  <%= link_to "Already have an account?", login_path %>
</div>
