<!DOCTYPE html>
<html>
  <head>
    <title>EventSearch</title>
    <meta name="google-site-verification" content="HOmRlcBX0HozFkUAG1PELq77IZ4VUgiZMF8Rs5McRlo" />
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
    <%= yield %>
  </body>
</html>
